{
	admin 0.0.0.0:2019 {
		origins "http://api:3001" "http://caddy:2019" "localhost"
	}
	persist_config off
}

:80 {
	@api path /api/* /healthz
	handle @api {
		reverse_proxy api:3001
	}

	@spa host localhost
	handle @spa {
		root * /srv/web
		try_files {path} /index.html
		file_server
	}
}
